<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布作品</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/uikit/2.25.0/css/uikit.css" />
    <script src="//cdn.bootcss.com/uikit/2.25.0/js/uikit.js"></script>
</head>
<body>
<div>
<div id="issue_nav">
    <div>button</div>
    <div>
        <ul class="uk-tab uk-tab-left uk-width-medium-1-2">
            <li>内容管理</li>
            <li>数据中心</li>
            <li>粉丝管理</li>
            <li>互动管理</li>
        </ul>
    </div>
</div>
<div id="issue_body">
    <ul class="uk-tab" data-uk-tab>
        <li class="uk-active"><a href="#">视频发布</a></li>
        <li><a href="#">图片发布</a></li>
        <li><a href="#">普通发布</a></li>
    </ul>

    <div class="content" >
        <form id="issue_form">

        </form>
    </div>
</div>
</div>

</body>
</html>