@charset "UTF-8";
.issue_body{
    width: 80%;
    margin-left: 10%;
    border-left:1px solid #f0f2f6;
    border-right:1px solid #f0f2f6;
    background-color: #f0f2f6;
}
.box{
    width: 100%;
    background-color: #f6f8ff;
}