<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkwp.wechat.dao.DiscussDao">
<insert id="saveDiscussContent" parameterType="com.zkwp.api.bean.BizComment">
insert into biz_comment (issueId,userId,content,commenttime,nickname)
values(#{issueId},#{userId},#{content},#{commenttime},#{nickname})
</insert>
<select id="getDiscussInfo" parameterType="String" resultType="com.zkwp.api.bean.BizComment">
select * from biz_comment where issueId = #{worksId} order by commenttime desc limit 0,5
</select>
<select id="getUserId" parameterType="String" resultType="String">
select userid from biz_issue where id = #{worksId}
</select>
<select id="getNickname" parameterType="String" resultType="String">
select nickname from sys_user where userid = #{userId}
</select>
<insert id="saveFeedback" parameterType="com.zkwp.api.bean.Feedback">
insert into wechat_feedback (userid,user_question,question_image)
values(#{userId},#{userQuestion},#{userImage})
</insert>
<select id="getMyFeedbackInfo" parameterType="String" resultType="com.zkwp.api.bean.Feedback">
select * from wechat_feedback where userid = #{userId}
</select>
<select id="getViewCount" parameterType="String" resultType="int">
select viewcount from biz_issue where id = #{worksId}
</select>
<update id="updateViewCount" parameterType="String">
update biz_issue set viewcount=#{finalViewCount} where id = #{worksId}
</update>
</mapper>