<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        #container {
            min-height: 100%;
            height: auto !important;
            height: 100%;

        }

        #page {
            padding-bottom: 60px;

        }

        #footer {
            position: relative;
            margin-top: -60px; /*等于footer的高度*/
            height: 60px;
            clear: both;
            background: #c6f;
        }
    </style>
</head>
<body id="container">
<div id="footer" style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
    <footer><p>@2020.手工艺品推广平台</p></footer>
</div>
</body>
</html>