<!DOCTYPE html  >
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="<%=basePath%>">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>手工艺品推广平台</title>
    <link href ="css/index.css">
    <script src="js/index.js"></script>
</head>
<body>
<div th:include="navbar.html"></div>
<div class="container">
    <h4 id="cards-with-equal-height1" th:text="${type1.name}"></h4>
    <br>
    <div class="row">
        <div class="col-md-4 col-sm-6 jQueryEqualHeight1">
            <div class="card" th:each="issue:${issueList1}">
                <img class="card-img-top" style="width: 180px;height: 318px" th:src=@{${issue.oneimagepath}} alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title" th:text="${issue.title}"></h4>
                    <p class="card-text" th:text="${issue.description}"></p>
                    <a href="#" class="btn btn-primary"></a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <h4 id="cards-with-equal-height2" th:text="${type2.name}"></h4>
    <br>
    <div class="row">
        <div class="col-md-4 col-sm-6 jQueryEqualHeight1">
            <div class="card" th:each="issue:${issueList2}">
                <img class="card-img-top" style="width: 180px;height: 318px" th:src=@{${issue.oneimagepath}} alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title" th:text="${issue.title}"></h4>
                    <p class="card-text" th:text="${issue.description}"></p>
                    <a href="#" class="btn btn-primary"></a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <h4 id="cards-with-equal-height3" th:text="${type3.name}"></h4>
    <br>
    <div class="row">
        <div class="col-md-4 col-sm-6 jQueryEqualHeight1">
            <div class="card" th:each="issue:${issueList32}">
                <img class="card-img-top" style="width: 180px;height: 318px" th:src=@{${issue.oneimagepath}} alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title" th:text="${issue.title}"></h4>
                    <p class="card-text" th:text="${issue.description}"></p>
                    <a href="#" class="btn btn-primary"></a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <h4 id="cards-with-equal-height4" th:text="${type4.name}"></h4>
    <br>
    <div class="row">
        <div class="col-md-4 col-sm-6 jQueryEqualHeight1">
            <div class="card" th:each="issue:${issueList4}">
                <img class="card-img-top" style="width: 180px;height: 318px" th:src=@{${issue.oneimagepath}} alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title" th:text="${issue.title}"></h4>
                    <p class="card-text" th:text="${issue.description}"></p>
                    <a href="#" class="btn btn-primary"></a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <h4 id="cards-with-equal-height5" th:text="${type5.name}"></h4>
    <br>
    <div class="row">
        <div class="col-md-4 col-sm-6 jQueryEqualHeight1">
            <div class="card" th:each="issue:${issueList5}">
                <img class="card-img-top" style="width: 180px;height: 318px" th:src=@{${issue.oneimagepath}} alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title" th:text="${issue.title}"></h4>
                    <p class="card-text" th:text="${issue.description}"></p>
                    <a href="#" class="btn btn-primary"></a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>

<script src="js/jquery-1.11.0.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/jquery-equal-height.min.js"></script>
<script type="text/javascript">
    function equal_height() {
        // Equal Card Height
        $('.jQueryEqualHeight1').jQueryEqualHeight();
    }
    $(window).on('load', function(event) {
        equal_height();
    });
    $(window).resize(function(event) {
        equal_height();
    });
</script>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
    <p>手工艺品推广平台</p>
</div>
</body>
</html>
