<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>手工艺品推广平台</title>
</head>
<style>
    body {
        min-height: 100%;
        margin: 0;
        padding: 0;
        position: relative;
    }
</style>
<body>
<div th:include="navbar.html"></div>
<script>
    var jq = jQuery.noConflict();
</script>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    var $ = jQuery.noConflict();
</script>
<div class="jumbotron">
    <h1 class="display-4">手工艺品推广平台</h1>
    <p class="lead">
        民间手工艺术品，是指民间的劳动人民为适应生活需要和审美要求，就地取材，以手工生产为主的一种工艺美术品。手工艺品的品种非常繁多，如宋锦、竹编、草编、手工刺绣、蓝印花布、蜡染、手工木雕、泥塑、剪纸、民间玩具等。</p>
    <hr class="my-4">
    <p></p>
</div>

<!--<div th:include="foot.html"></div>--></body>
</html>