<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkwp.search.dao.TypesDao" >
<select id="getTypeList" parameterType="String" resultType="com.zkwp.api.bean.Type">
    select * from sys_type where parentCode = #{bigSort}
    </select>
    <select id="getImageSrcBySmallTypeName" parameterType="String" resultType="com.zkwp.api.bean.SystemImage">
    select * from sys_image where imagename = #{imageSrcName}
    </select>
    <select id="getImageAll" resultType="com.zkwp.api.bean.SystemImage">
    select * from sys_image
    </select>
    <select id="searchInfo" parameterType="String" resultType="com.zkwp.api.bean.Type">
    select * from sys_type where name like CONCAT('%',#{searchKeyword},'%')
</select>
</mapper>