<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkwp.issue.dao.IssueDao">

    <select id="getTypes" resultType="com.zkwp.api.bean.SystemType" parameterType="java.lang.String">
      select * from sys_type where code = #{code}
    </select>

    <insert id="insertTempImage" parameterType="Map">
        insert into temp_issue_image
        (uuid,ipaddress,path)
        values
        (#{uuid},#{ipAddress},#{path})
    </insert>

    <insert id="issueCraft" parameterType="Map">
        insert into biz_issue
        (userid,title,description,type,oneimagepath,videopath,price,state,createdtime,updatedtime)
        values
        (#{userid},#{title},#{description},#{type},#{oneimagepath},#{videopath},#{price},#{state},#{createdtime},#{updatedtime})
    </insert>

    <insert id="insertIssueRecord" parameterType="com.zkwp.api.bean.Issue">
        insert into biz_issue
        (userid,title,description,type,oneimagepath,videopath,price,createdtime)
        values
        (#{issue.userid},#{issue.title},#{issue.description},#{issue.type},#{issue.oneimagepath},#{issue.videopath},#{issue.price},#{issue.issueCreatedTime})
    </insert>

    <select id="getIssueListByTypeCode" parameterType="String" resultType="com.zkwp.api.bean.Issue">
        select a.*
        from biz_issue a
        where type =#{code}
        order by veiwCount desc
        limit 9
    </select>

    <select id="getIssueById" parameterType="String" resultType="com.zkwp.api.bean.Issue">
        select a.*
        from biz_issue a
        where id = #{issueId}
    </select>
</mapper>